@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.heading1 {
  font-size: 48px;
  font-family: "Montserrat";
  margin-bottom: 6px;
  color: #0d47a1;
  font-weight: 600
}

.heading2 {
  font-size: 30px;
  font-style: italic;
  font-family: "Montserrat";
  margin-bottom: 36px;
  color: #1e88e5;
  font-weight: 400;
}

.heading3 {
  font-weight: 500;
  font-size: 28px;
  font-family: "Montserrat";
  margin-top: 50px;
  margin-bottom: 22px;
}

.heading4 {
  font-size: 24px;
  font-family: "Montserrat";
  margin-bottom: 22px;
}

.heading5 {
  font-size: 20px;
  font-family: "Montserrat";
  margin-bottom: 22px;
}

.heading6 {
  font-size: 18px;
  font-family: "Montserrat";
  margin-bottom: 22px;
}

.paragraph {
  font-size: 20px;
  font-family: "Montserrat";
  margin-bottom: 18px;
}

.paragraph-med {
  font-size: 14px;
  font-family: "Montserrat";
  margin-bottom: 18px;
}

.paragraph-small {
  font-size: 12px;
  font-family: "Montserrat";
  margin-bottom: 18px;
}

.nav-link {
  font-size: 18px;
  color: white;
  font-family: "Montserrat";
}

.graphic {
  margin: 24px;
}

.column-b {
  font-size: 200px;
}

.column-b .MuiListItem-root {
  cursor: pointer;
}

.column-b .active {
  background-color: #f0f0f0; /* Highlight color */
  font-weight: bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
